VITE_BASE_URL=/
VITE_API_URL=replace-me
VITE_MAPTILER_API_KEY=replace-me

# For Glitchtip tracing, this needs to be set. Obtain it from the DCC
# Glitchtip account, it's the alphanumeric code set in the
# `glitchtip_key` parameter of the _Security Endpoint URL_, found under
# _Settings -> Projects -> @mykomap/front-end_.
VITE_GLITCHTIP_KEY=<get this from the Glitchtip dashboard>

# For Umami analytics, this URL needs to be set
VITE_UMAMI_URL=<For DCC this is: https://umami.digitalcommons.coop/script.js>
VITE_UMAMI_ID=<get this from the Umami dashboard>

# For Mixpanel analytics, this token needs to be set
VITE_MIXPANEL_TOKEN=<get this from the Mixpanel dashboard>
VITE_MIXPANEL_SESSION_RECORDING_PERCENT=<set to a number between 0 and 100>

# npm run upload-sourcemaps, called during deployment, needs these variables
# They should correlate to the tags used in the Glitchtip dashboard.
SENTRY_AUTH_TOKEN=<get this from the Glitchtip dashboard>
SENTRY_API_KEY=$VITE_GLITCHTIP_KEY
SENTRY_URL=https://app.glitchtip.com
SENTRY_ORG=digital-commons-coop
SENTRY_PROJECT=mykomapfront-end

######################################################################
# The following variables are only required when building/running the
# application within the context of Docker.

# The version of the Caddy HTTP server to use.  It can be bumped
# (cautiously) if it is not the latest version.
# CADDY_VERSION=<...>
