# This sets the directory to load canned back-end data from
SERVER_DATA_ROOT=test/data

# If set, this environment variable will be interpreted as a
# space-delimited list of URLs, which the Access-Control-Allow-Origin
# CORS header should allow.
# Setting it to '*' allows connections from anywhere.
# Make sure that an https server is not mixed with http clients URLs and vice versa!
FASTIFY_CORS_ORIGIN=http://localhost:5173

# The port for the server to listen on. Defaults to 3000
# FASTIFY_PORT=3000

# The API path prefix to use. Defaults to /
# API_PATH_PREFIX=/

# For Glitchtip tracing, this needs to be set. Obtain it from the DCC
# Glitchtip account, it's the alphanumeric code set in the
# `glitchtip_key` parameter of the _Security Endpoint URL_, found under
# _Settings -> Projects -> @mykomap/back-end_.
VITE_GLITCHTIP_KEY=<get this from the Glitchtip dashboard>

######################################################################
# The following variables are only required when running within the
# context of Docker.

# The version of Node to build/run with. Set this from the version in
# the top-level `./.tool-versions` file, or define it manually. You
# can extract a value programmatically using:
#
#     export NODE_VERSION=$(awk '/^nodejs/ {print $2}' .tool-versions)
#
# NODE_VERSION=<...>
